.header__logo {
    display: block;
    background: center no-repeat url("https://yastatic.net/web4/_/BPMHTAIlmc5kh6Tymb1I2mmfSAc.svg");
    width: 100px;
    height: 35px;
    text-indent: -999em;
}
